body {
	 background-image: url("https://erandika.files.wordpress.com/2012/09/11276237-background-of-old-paper-and-a-wallet-with-hundred-dollar-bills1.jpg");
	 background-size: 100%;
	 position:center;
}
h2 {
	color: yellow;
}
h4 {
	color: lightgrey;
}
nav {
	background-color: darkgrey;
}
.myNavBar {
	background-color: darkgrey;
}